//
// Layout Config
// Here you can set the demo level SASS variables and override the global variables for this demo.
// Note: To override the global variables in the demo level use the variables without "!default". More info:  https://sass-lang.com/documentation/variables
//

//$brandColor: #34468A;
$brandColor: #000;
//$brandColor: #000000;

// State colors: https://material.io/design/color/#tools-for-picking-colors
// Màu material color trừ các màu: (deep-purple, amber, light-green, lime, deep-orange) và các màu a100, a200, a400, a700
$kt-state-colors: (
	//Material color
	'red-50': (base: #ffebee,inverse: #ffffff),
	'red-100': (base: #ffcdd2,inverse: #ffffff),
	'red-200': (base: #ef9a9a,inverse: #ffffff),
	'red-300': (base: #e57373,inverse: #ffffff),
	'red-400': (base: #ef5350,inverse: #ffffff),
	'red-500': (base: #f44336,inverse: #ffffff),
	'red-600': (base: #e53935,inverse: #ffffff),
	'red-700': (base: #d32f2f,inverse: #ffffff),
	'red-800': (base: #c62828,inverse: #ffffff),
	'red-900': (base: #b71c1c,inverse: #ffffff),
	//'red-a100': (base: #ff8a80,inverse: #ffffff),
	//'red-a200': (base: #ff5252,inverse: #ffffff),
	//'red-a400': (base: #ff1744,inverse: #ffffff),
	//'red-a700': (base: #d50000,inverse: #ffffff),

	'pink-50': (base: #fce4ec,inverse: #fff),
	'pink-100': (base: #f8bbd0,inverse: #fff),
	'pink-200': (base: #f48fb1,inverse: #fff),
	'pink-300': (base: #f06292,inverse: #fff),
	'pink-400': (base: #ec407a,inverse: #fff),
	'pink-500': (base: #e91e63,inverse: #fff),
	'pink-600': (base: #d81b60,inverse: #fff),
	'pink-700': (base: #c2185b,inverse: #fff),
	'pink-800': (base: #ad1457,inverse: #fff),
	'pink-900': (base: #880e4f,inverse: #fff),
	//'pink-a100': (base: #ff80ab,inverse: #fff),
	//'pink-a200': (base: #ff4081,inverse: #fff),
	//'pink-a400': (base: #f50057,inverse: #fff),
	//'pink-a700': (base: #c51162,inverse: #fff),

	'purple-50': (base:  #f3e5f5, inverse: #fff),
	'purple-100': (base:  #e1bee7, inverse: #fff),
	'purple-200': (base:  #ce93d8, inverse: #fff),
	'purple-300': (base:  #ba68c8, inverse: #fff),
	'purple-400': (base:  #ab47bc, inverse: #fff),
	'purple-500': (base:  #9c27b0, inverse: #fff),
	'purple-600': (base:  #8e24aa, inverse: #fff),
	'purple-700': (base:  #7b1fa2, inverse: #fff),
	'purple-800': (base:  #6a1b9a, inverse: #fff),
	'purple-900': (base:  #4a148c, inverse: #fff),
	//'purple-a100': (base:  #ea80fc, inverse: #fff),
	//'purple-a200': (base:  #e040fb, inverse: #fff),
	//'purple-a400': (base:  #d500f9, inverse: #fff),
	//'purple-a700': (base:  #aa00ff, inverse: #fff),

	//'deep-purple-50': (base:  #ede7f6,inverse: #fff),
	//'deep-purple-100': (base:  #d1c4e9,inverse: #fff),
	//'deep-purple-200': (base:  #b39ddb,inverse: #fff),
	//'deep-purple-300': (base:  #9575cd,inverse: #fff),
	//'deep-purple-400': (base:  #7e57c2,inverse: #fff),
	//'deep-purple-500': (base:  #673ab7,inverse: #fff),
	//'deep-purple-600': (base:  #5e35b1,inverse: #fff),
	//'deep-purple-700': (base:  #512da8,inverse: #fff),
	//'deep-purple-800': (base:  #4527a0,inverse: #fff),
	//'deep-purple-900': (base:  #311b92,inverse: #fff),
	//'deep-purple-a100': (base:  #b388ff,inverse: #fff),
	//'deep-purple-a200': (base:  #7c4dff,inverse: #fff),
	//'deep-purple-a400': (base:  #651fff,inverse: #fff),
	//'deep-purple-a700': (base:  #6200ea,inverse: #fff),

	'indigo-50': (base:  #e8eaf6,inverse: #fff),
	'indigo-100': (base:  #c5cae9,inverse: #fff),
	'indigo-200': (base:  #9fa8da,inverse: #fff),
	'indigo-300': (base:  #7986cb,inverse: #fff),
	'indigo-400': (base:  #5c6bc0,inverse: #fff),
	'indigo-500': (base:  #3f51b5,inverse: #fff),
	'indigo-600': (base:  #3949ab,inverse: #fff),
	'indigo-700': (base:  #303f9f,inverse: #fff),
	'indigo-800': (base:  #283593,inverse: #fff),
	'indigo-900': (base:  #1a237e,inverse: #fff),
	//'indigo-a100': (base:  #8c9eff,inverse: #fff),
	//'indigo-a200': (base:  #536dfe,inverse: #fff),
	//'indigo-a400': (base:  #3d5afe,inverse: #fff),
	//'indigo-a700': (base:  #304ffe,inverse: #fff),

	'blue-50': (base: #e3f2fd, inverse: #fff),
	'blue-100': (base: #bbdefb, inverse: #fff),
	'blue-200': (base: #90caf9, inverse: #fff),
	'blue-300': (base: #64b5f6, inverse: #fff),
	'blue-400': (base: #42a5f5, inverse: #fff),
	'blue-500': (base: #2196f3, inverse: #fff),
	'blue-600': (base: #1e88e5, inverse: #fff),
	'blue-700': (base: #1976d2, inverse: #fff),
	'blue-800': (base: #1565c0, inverse: #fff),
	'blue-900': (base: #0d47a1, inverse: #fff),
	//'blue-a100': (base: #82b1ff, inverse: #fff),
	//'blue-a200': (base: #448aff, inverse: #fff),
	//'blue-a400': (base: #2979ff, inverse: #fff),
	//'blue-a700': (base: #2962ff, inverse: #fff),

	'light-blue-50': (base: #e1f5fe, inverse: #fff),
	'light-blue-100': (base: #b3e5fc, inverse: #fff),
	'light-blue-200': (base: #81d4fa, inverse: #fff),
	'light-blue-300': (base: #4fc3f7, inverse: #fff),
	'light-blue-400': (base: #29b6f6, inverse: #fff),
	'light-blue-500': (base: #03a9f4, inverse: #fff),
	'light-blue-600': (base: #039be5, inverse: #fff),
	'light-blue-700': (base: #0288d1, inverse: #fff),
	'light-blue-800': (base: #0277bd, inverse: #fff),
	'light-blue-900': (base: #01579b, inverse: #fff),
	//'light-blue-a100': (base: #80d8ff, inverse: #fff),
	//'light-blue-a200': (base: #40c4ff, inverse: #fff),
	//'light-blue-a400': (base: #00b0ff, inverse: #fff),
	//'light-blue-a700': (base: #0091ea, inverse: #fff),

	'cyan-50': (base: #e0f7fa, inverse: #fff),
	'cyan-100': (base: #b2ebf2, inverse: #fff),
	'cyan-200': (base: #80deea, inverse: #fff),
	'cyan-300': (base: #4dd0e1, inverse: #fff),
	'cyan-400': (base: #26c6da, inverse: #fff),
	'cyan-500': (base: #00bcd4, inverse: #fff),
	'cyan-600': (base: #00acc1, inverse: #fff),
	'cyan-700': (base: #0097a7, inverse: #fff),
	'cyan-800': (base: #00838f, inverse: #fff),
	'cyan-900': (base: #006064, inverse: #fff),
	//'cyan-a100': (base: #84ffff, inverse: #fff),
	//'cyan-a200': (base: #18ffff, inverse: #fff),
	//'cyan-a400': (base: #00e5ff, inverse: #fff),
	//'cyan-a700': (base: #00b8d4, inverse: #fff),

	'teal-50': (base: #e0f2f1, inverse: #fff),
	'teal-100': (base: #b2dfdb, inverse: #fff),
	'teal-200': (base: #80cbc4, inverse: #fff),
	'teal-300': (base: #4db6ac, inverse: #fff),
	'teal-400': (base: #26a69a, inverse: #fff),
	'teal-500': (base: #009688, inverse: #fff),
	'teal-600': (base: #00897b, inverse: #fff),
	'teal-700': (base: #00796b, inverse: #fff),
	'teal-800': (base: #00695c, inverse: #fff),
	'teal-900': (base: #004d40, inverse: #fff),
	//'teal-a100': (base: #a7ffeb, inverse: #fff),
	//'teal-a200': (base: #64ffda, inverse: #fff),
	//'teal-a400': (base: #1de9b6, inverse: #fff),
	//'teal-a700': (base: #00bfa5, inverse: #fff),

	'green-50': (base:#e8f5e9, inverse: #fff),
	'green-100': (base:#c8e6c9, inverse: #fff),
	'green-200': (base:#a5d6a7, inverse: #fff),
	'green-300': (base:#81c784, inverse: #fff),
	'green-400': (base:#66bb6a, inverse: #fff),
	'green-500': (base:#4caf50, inverse: #fff),
	'green-600': (base:#43a047, inverse: #fff),
	'green-700': (base:#388e3c, inverse: #fff),
	'green-800': (base:#2e7d32, inverse: #fff),
	'green-900': (base:#1b5e20, inverse: #fff),
	//'green-a100': (base:#b9f6ca, inverse: #fff),
	//'green-a200': (base:#69f0ae, inverse: #fff),
	//'green-a400': (base:#00e676, inverse: #fff),
	//'green-a700': (base:#00c853, inverse: #fff),

	//'light-green-50': (base: #f1f8e9, inverse: #fff),
	//'light-green-100': (base: #dcedc8, inverse: #fff),
	//'light-green-200': (base: #c5e1a5, inverse: #fff),
	//'light-green-300': (base: #aed581, inverse: #fff),
	//'light-green-400': (base: #9ccc65, inverse: #fff),
	//'light-green-500': (base: #8bc34a, inverse: #fff),
	//'light-green-600': (base: #7cb342, inverse: #fff),
	//'light-green-700': (base: #689f38, inverse: #fff),
	//'light-green-800': (base: #558b2f, inverse: #fff),
	//'light-green-900': (base: #33691e, inverse: #fff),
	//'light-green-a100': (base: #ccff90, inverse: #fff),
	//'light-green-a200': (base: #b2ff59, inverse: #fff),
	//'light-green-a400': (base: #76ff03, inverse: #fff),
	//'light-green-a700': (base: #64dd17, inverse: #fff),

	//'lime-50': (base: #f9fbe7, inverse: #fff),
	//'lime-100': (base: #f0f4c3, inverse: #fff),
	//'lime-200': (base: #e6ee9c, inverse: #fff),
	//'lime-300': (base: #dce775, inverse: #fff),
	//'lime-400': (base: #d4e157, inverse: #fff),
	//'lime-500': (base: #cddc39, inverse: #fff),
	//'lime-600': (base: #c0ca33, inverse: #fff),
	//'lime-700': (base: #afb42b, inverse: #fff),
	//'lime-800': (base: #9e9d24, inverse: #fff),
	//'lime-900': (base: #827717, inverse: #fff),
	//'lime-a100': (base: #f4ff81, inverse: #fff),
	//'lime-a200': (base: #eeff41, inverse: #fff),
	//'lime-a400': (base: #c6ff00, inverse: #fff),
	//'lime-a700': (base: #aeea00, inverse: #fff),

	'yellow-50': (base: #fffde7, inverse: #fff),
	'yellow-100': (base: #fff9c4, inverse: #fff),
	'yellow-200': (base: #fff59d, inverse: #fff),
	'yellow-300': (base: #fff176, inverse: #fff),
	'yellow-400': (base: #ffee58, inverse: #fff),
	'yellow-500': (base: #ffeb3b, inverse: #fff),
	'yellow-600': (base: #fdd835, inverse: #fff),
	'yellow-700': (base: #fbc02d, inverse: #fff),
	'yellow-800': (base: #f9a825, inverse: #fff),
	'yellow-900': (base: #f57f17, inverse: #fff),
	//'yellow-a100': (base: #ffff8d, inverse: #fff),
	//'yellow-a200': (base: #ffff00, inverse: #fff),
	//'yellow-a400': (base: #ffea00, inverse: #fff),
	//'yellow-a700': (base: #ffd600, inverse: #fff),

	//'amber-50': (base: #fff8e1, inverse: #fff),
	//'amber-100': (base: #ffecb3, inverse: #fff),
	//'amber-200': (base: #ffe082, inverse: #fff),
	//'amber-300': (base: #ffd54f, inverse: #fff),
	//'amber-400': (base: #ffca28, inverse: #fff),
	//'amber-500': (base: #ffc107, inverse: #fff),
	//'amber-600': (base: #ffb300, inverse: #fff),
	//'amber-700': (base: #ffa000, inverse: #fff),
	//'amber-800': (base: #ff8f00, inverse: #fff),
	//'amber-900': (base: #ff6f00, inverse: #fff),
	//'amber-a100': (base: #ffe57f, inverse: #fff),
	//'amber-a200': (base: #ffd740, inverse: #fff),
	//'amber-a400': (base: #ffc400, inverse: #fff),
	//'amber-a700': (base: #ffab00, inverse: #fff),

	'orange-50': (base: #fff3e0, inverse: #fff),
	'orange-100': (base: #ffe0b2, inverse: #fff),
	'orange-200': (base: #ffcc80, inverse: #fff),
	'orange-300': (base: #ffb74d, inverse: #fff),
	'orange-400': (base: #ffa726, inverse: #fff),
	'orange-500': (base: #ff9800, inverse: #fff),
	'orange-600': (base: #fb8c00, inverse: #fff),
	'orange-700': (base: #f57c00, inverse: #fff),
	'orange-800': (base: #ef6c00, inverse: #fff),
	'orange-900': (base: #e65100, inverse: #fff),
	//'orange-a100': (base: #ffd180, inverse: #fff),
	//'orange-a200': (base: #ffab40, inverse: #fff),
	//'orange-a400': (base: #ff9100, inverse: #fff),
	//'orange-a700': (base: #ff6d00, inverse: #fff),

	//'deep-orange-50': (base:#fbe9e7, inverse: #fff),
	//'deep-orange-100': (base:#ffccbc, inverse: #fff),
	//'deep-orange-200': (base:#ffab91, inverse: #fff),
	//'deep-orange-300': (base:#ff8a65, inverse: #fff),
	//'deep-orange-400': (base:#ff7043, inverse: #fff),
	//'deep-orange-500': (base:#ff5722, inverse: #fff),
	//'deep-orange-600': (base:#f4511e, inverse: #fff),
	//'deep-orange-700': (base:#e64a19, inverse: #fff),
	//'deep-orange-800': (base:#d84315, inverse: #fff),
	//'deep-orange-900': (base:#bf360c, inverse: #fff),
	//'deep-orange-a100': (base:#ff9e80, inverse: #fff),
	//'deep-orange-a200': (base:#ff6e40, inverse: #fff),
	//'deep-orange-a400': (base:#ff3d00, inverse: #fff),
	//'deep-orange-a700': (base:#dd2c00, inverse: #fff),

	'brown-50': (base: #efebe9, inverse: #fff),
	'brown-100': (base: #d7ccc8, inverse: #fff),
	'brown-200': (base: #bcaaa4, inverse: #fff),
	'brown-300': (base: #a1887f, inverse: #fff),
	'brown-400': (base: #8d6e63, inverse: #fff),
	'brown-500': (base: #795548, inverse: #fff),
	'brown-600': (base: #6d4c41, inverse: #fff),
	'brown-700': (base: #5d4037, inverse: #fff),
	'brown-800': (base: #4e342e, inverse: #fff),
	'brown-900': (base: #3e2723, inverse: #fff),

	'grey-50': (base: #fafafa, inverse: #fff),
	'grey-100': (base: #f5f5f5, inverse: #fff),
	'grey-200': (base: #eeeeee, inverse: #fff),
	'grey-300': (base: #e0e0e0, inverse: #fff),
	'grey-400': (base: #bdbdbd, inverse: #fff),
	'grey-500': (base: #9e9e9e, inverse: #fff),
	'grey-600': (base: #757575, inverse: #fff),
	'grey-700': (base: #616161, inverse: #fff),
	'grey-800': (base: #424242, inverse: #fff),
	'grey-900': (base: #212121, inverse: #fff),

	'blue-grey-50': (base: #eceff1, inverse: #fff),
	'blue-grey-100': (base: #cfd8dc, inverse: #fff),
	'blue-grey-200': (base: #b0bec5, inverse: #fff),
	'blue-grey-300': (base: #90a4ae, inverse: #fff),
	'blue-grey-400': (base: #78909c, inverse: #fff),
	'blue-grey-500': (base: #607d8b, inverse: #fff),
	'blue-grey-600': (base: #546e7a, inverse: #fff),
	'blue-grey-700': (base: #455a64, inverse: #fff),
	'blue-grey-800': (base: #37474f, inverse: #fff),
	'blue-grey-900': (base: #263238, inverse: #fff),
	'blue-grey-1000': (base: #11171a, inverse: #fff),

	//Tailwind color
	//'yellow': (base: #ECC94B,inverse: #ffffff),
	//'pink': (base: #ED64A6,inverse: #ffffff),
	//'purple': (base: #9F7AEA,inverse: #ffffff),
	//'gray': (base: #CBD5E0,inverse: #ffffff),
	//'green': (base: #48BB78,inverse: #ffffff),
	//'blue': (base: #4299E1,inverse: #ffffff),
	//'teal': (base: #38B2AC,inverse: #ffffff),
	//'indigo': (base: #667EEA,inverse: #ffffff),
	//'red': (base: #F56565,inverse: #ffffff),
	//'orange': (base: #FF9900,inverse: #ffffff),

	// Metronic states
	brand: (base: $brandColor,inverse: #ffffff),
	light: (base: #ffffff,inverse: #282a3c),
	dark: (base: #282a3c,inverse: #ffffff),
	// Bootstrap states
	primary: (base: #5A67D8, inverse: #ffffff),
	success: (base: #38A169, inverse: #ffffff),
	info: (base: #3182CE, inverse: #ffffff),
	warning: (base: #d6b445,inverse: #ffffff),
	danger: (base: #E53E3E, inverse: #ffffff),
);

// Brand Color
$kt-brand-color: $brandColor !default;
$kt-brand-inverse-color: #ffffff !default;
$kt-brand-hover-color: #f5f6fc;

// Body
$kt-page-body-bg-color: #f9f9fc; // page body bg color

// Layout
$kt-aside-default-width: 270px;
$kt-aside-minimize-width: 70px;
$kt-aside-offcanvas-width: 270px;

// Page padding
$kt-page-padding: (
	desktop: 30px,
	mobile: 15px
);

// content bg color
$kt-content-bg-color: #f2f3f8;

// Page container
$kt-page-container-width: 1380px; //  fixed page width
$kt-page-fluid-container-padding: 60px; // fluid page padding
