table {
  width: 100%;
}
table .nowrap-col {
  white-space: nowrap;
}
table tbody tr {
  transition: all 0.3s;
}
table thead th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 60px;
  z-index: 1;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: #f7f8fa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.dataTables_wrapper .dataTables_paginate {
  justify-content: center !important;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button {
  border-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button:hover {
  border: none;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button:hover .page-link {
  color: white;
  transition: all 0.3s;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button.current:hover {
  border: none;
  background: none;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button.disabled {
  border: none;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button.disabled:hover {
  border: none;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button.disabled:hover .page-link {
  background: #000 !important;
  color: white !important;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button:active {
  box-shadow: none;
  background-color: transparent;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button .page-link {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600 !important;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button.page-item.active .page-link {
  color: white;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button.first > .page-link, .dataTables_wrapper .dataTables_paginate .pagination .paginate_button.previous > .page-link, .dataTables_wrapper .dataTables_paginate .pagination .paginate_button.next > .page-link, .dataTables_wrapper .dataTables_paginate .pagination .paginate_button.last > .page-link {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}
.dataTables_wrapper .dataTables_paginate .pagination .paginate_button.first > .page-link:hover, .dataTables_wrapper .dataTables_paginate .pagination .paginate_button.previous > .page-link:hover, .dataTables_wrapper .dataTables_paginate .pagination .paginate_button.next > .page-link:hover, .dataTables_wrapper .dataTables_paginate .pagination .paginate_button.last > .page-link:hover {
  background: #000;
  color: white;
}
@media (max-width: 1139.98px) {
  .dataTables_wrapper .dataTables_paginate .pagination {
    justify-content: center !important;
  }
}
@media (max-width: 1139.98px) {
  .dataTables_wrapper .dataTables_length {
    margin: 2px 0;
  }
}
.dataTables_wrapper .dataTables_length .btn.dropdown-toggle {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0 !important;
  font-weight: 500;
  font-size: 1rem;
}
.dataTables_wrapper .dataTables_length .btn.dropdown-toggle:hover {
  color: white;
  background-color: #000;
}
.dataTables_wrapper .bottom {
  display: block !important;
}
.dataTables_wrapper table.dataTable th, .dataTables_wrapper table.dataTable td {
  vertical-align: top;
}
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before {
  content: "+";
  margin-top: 0;
}
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before {
  content: "-";
  margin-top: 0;
}
.dataTables_wrapper table.dataTable thead th {
  background-color: #f4f7fa;
  border-bottom: none;
  font-weight: bold;
}
.dataTables_wrapper table.dataTable thead .sorting:before, .dataTables_wrapper table.dataTable thead .sorting:after,
.dataTables_wrapper table.dataTable thead .sorting_asc:before, .dataTables_wrapper table.dataTable thead .sorting_asc:after, .dataTables_wrapper table.dataTable thead .sorting_desc:before, .dataTables_wrapper table.dataTable thead .sorting_desc:after,
.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:before, .dataTables_wrapper table.dataTable thead .sorting_asc_disabled:after, .dataTables_wrapper table.dataTable thead .sorting_desc_disabled:before, .dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
  bottom: 1.3em;
}
@media (max-width: 1139.98px) {
  .dataTables_wrapper table.dataTable .nowrap td:not(:last-child), .dataTables_wrapper table.dataTable .nowrap th:not(:last-child) {
    white-space: normal;
  }
}
.dataTables_wrapper table.dataTable td.child {
  white-space: normal;
}
.dataTables_wrapper table.dataTable .white-space-normal {
  white-space: normal !important;
}
@media (max-width: 1139.98px) {
  .dataTables_wrapper .child .dtr-details > li .dtr-data {
    white-space: normal;
    word-break: break-word;
    vertical-align: top;
  }
  .dataTables_wrapper .child .dtr-details > li .dtr-title {
    vertical-align: top;
  }
}
@media (min-width: 768px) {
  .dataTables_wrapper .bottom {
    display: flex !important;
  }
  .dataTables_wrapper .dataTables_info {
    padding-left: 0;
  }
  .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_length {
    flex: auto;
    margin-top: 7px !important;
  }
  .dataTables_wrapper .dataTables_paginate > ul.pagination, .dataTables_wrapper .dataTables_length > ul.pagination {
    justify-content: flex-end !important;
  }
  .dataTables_wrapper .dataTables_length {
    flex: auto;
    flex-grow: 100;
    text-align: right;
    margin-top: 5px;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.kt-form .form-control-label, .kt-form .col-form-label, .kt-form > label {
  color: #122740;
}
.kt-form .form-control-label, .kt-form label {
  font-weight: 500;
}

.form-control.is-invalid {
  background-image: none;
  padding: inherit;
}

.kt-input-icon.kt-input-icon--right .form-control {
  padding: 0 10px;
}

.form-control[readonly], .form-control {
  border-color: #e2e5ec;
  color: #122740;
  font-family: Open Sans, sans-serif;
}

.form-control[readonly] {
  background: #f4f7fa;
}

a[href^=http]:empty::before {
  content: attr(href);
}

.mt-6 {
  margin-top: 2rem !important;
}

.form-control-feedback, .kt-form__help {
  font-weight: bold !important;
}

.fileinput .form-control {
  line-height: 30px;
}

/*.text-phone, .text-mobile-phone,*/
.text-numeric, .text-money, .text-quantity {
  text-align: right;
}

.bootstrap-select > .dropdown-toggle {
  padding: 0.5rem 1rem;
}

.modal .modal-content {
  border: none;
}
.modal .modal-content .modal-header .close:hover {
  color: white !important;
}
.modal .modal-header {
  border: none;
  padding: 1rem 1.5rem;
  border-top-left-radius: 1px !important;
  border-top-right-radius: 1px !important;
}
.modal .modal-body {
  background-color: white;
}
.modal .modal-footer {
  border: none;
  background-color: var(--light);
  padding: 1rem 1.5rem;
}
.modal.modal-danger .modal-header {
  background-color: var(--danger);
}
.modal.modal-danger .modal-header .modal-title, .modal.modal-danger .modal-header .close {
  color: white;
  font-weight: bold;
}
.modal.modal-primary .modal-header {
  background-color: var(--primary);
}
.modal.modal-primary .modal-header .modal-title, .modal.modal-primary .modal-header .close {
  color: white;
  font-weight: bold;
}
.modal.modal-warning .modal-header {
  background-color: var(--warning);
}
.modal.modal-warning .modal-header .modal-title, .modal.modal-warning .modal-header .close {
  color: white;
  font-weight: bold;
}
.modal.modal-success .modal-header {
  background-color: var(--success);
}
.modal.modal-success .modal-header .modal-title, .modal.modal-success .modal-header .close {
  color: white;
  font-weight: bold;
}
.modal.modal-info .modal-header {
  background-color: var(--info);
}
.modal.modal-info .modal-header .modal-title, .modal.modal-info .modal-header .close {
  color: white;
  font-weight: bold;
}
.modal.modal-brand .modal-header {
  background-color: var(--brand);
}
.modal.modal-brand .modal-header .modal-title, .modal.modal-brand .modal-header .close {
  color: white;
  font-weight: bold;
}

.kt-portlet {
  margin-bottom: 1rem;
}
@media (max-width: 1139.98px) {
  .kt-portlet .kt-portlet__head-tools button, .kt-portlet .kt-portlet__head-tools a {
    margin-bottom: 0 !important;
  }
}
.kt-portlet .kt-portlet__body {
  color: #122740;
  font-weight: 400;
}
.kt-portlet .kt-portlet__body .kt-portlet--collapse {
  margin-bottom: 0;
}
.kt-portlet .kt-portlet__body .kt-portlet--collapse .kt-portlet__head {
  min-height: 52px;
}
.kt-portlet .kt-portlet__head:not(.index-header) {
  background-color: #f4f7fa;
}
.kt-portlet .kt-portlet__head {
  border-bottom: 1px solid #f4f5f8;
}
@media (max-width: 1139.98px) {
  .kt-portlet .kt-portlet__head {
    flex-wrap: wrap;
  }
}
.kt-portlet .kt-portlet__head .kt-portlet__head-title {
  color: #122740 !important;
}
.kt-portlet .kt-portlet__foot.kt-portlet__foot--solid {
  background-color: #f4f7fa;
}

.kt-portlet--collapse .kt-portlet__head {
  cursor: pointer;
}

.kt-header-mobile__logo img {
  width: 80px;
  filter: brightness(0) invert(1);
}

.kt-aside__brand-logo img, .kt-header__brand-logo img {
  width: 70px;
  filter: brightness(0) invert(1);
}

@media (min-width: 1140px) {
  .kt-header-menu-wrapper {
    flex-grow: 4;
  }

  .kt-aside-toggler {
    margin-right: 20px;
  }
}
.kt-subheader--transparent .kt-subheader .kt-subheader__main .kt-subheader__breadcrumbs .kt-subheader__breadcrumbs-link {
  color: #122740;
}

.kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon, .kt-header__topbar .kt-header__topbar-item.show .kt-header__topbar-icon {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1398.98px) {
  .kt-header-menu-wrapper .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
    padding: 0.75rem 0.4rem !important;
  }
}
.span-notification-indicator {
  width: 10px;
  height: 10px;
  margin-bottom: 20px;
  border-radius: 25%;
}

.span-bell-icon {
  display: flex;
  align-items: center;
}
.span-bell-icon i {
  transition: all 0.3s;
  color: #c8cad5;
}

#kt_header, #kt_header_mobile {
  background: #000;
}
#kt_header .kt-header__topbar-user img, #kt_header_mobile .kt-header__topbar-user img {
  filter: brightness(0) invert(1);
}
#kt_header span:not(.kt-nav__link-text), #kt_header .kt-menu__link-icon, #kt_header .kt-header__topbar-icon i, #kt_header_mobile span:not(.kt-nav__link-text), #kt_header_mobile .kt-menu__link-icon, #kt_header_mobile .kt-header__topbar-icon i {
  color: white;
}
#kt_header .kt-menu__submenu span:not(.kt-nav__link-text), #kt_header .kt-menu__submenu .kt-menu__link-icon, #kt_header .kt-menu__submenu .kt-header__topbar-icon i, #kt_header_mobile .kt-menu__submenu span:not(.kt-nav__link-text), #kt_header_mobile .kt-menu__submenu .kt-menu__link-icon, #kt_header_mobile .kt-menu__submenu .kt-header__topbar-icon i {
  color: #122740;
}
@media (max-width: 1139.98px) {
  #kt_header span:not(.kt-nav__link-text), #kt_header .kt-menu__link-icon, #kt_header .kt-header__topbar-icon i, #kt_header_mobile span:not(.kt-nav__link-text), #kt_header_mobile .kt-menu__link-icon, #kt_header_mobile .kt-header__topbar-icon i {
    color: #122740;
  }
}
#kt_header .kt-menu__item.kt-menu__item--active span, #kt_header .kt-menu__item.kt-menu__item--active i, #kt_header_mobile .kt-menu__item.kt-menu__item--active span, #kt_header_mobile .kt-menu__item.kt-menu__item--active i {
  color: #122740;
}
#kt_header .kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link span, #kt_header .kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link i, #kt_header_mobile .kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link span, #kt_header_mobile .kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link i {
  color: white;
}
#kt_header .kt-header__topbar .kt-header__topbar-item.dropdown.show .kt-header__topbar-icon i, #kt_header .kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon i, #kt_header_mobile .kt-header__topbar .kt-header__topbar-item.dropdown.show .kt-header__topbar-icon i, #kt_header_mobile .kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon i {
  color: #000;
}

.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-topbar-toggler.kt-header-mobile__toolbar-topbar-toggler--active i, .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-topbar-toggler:hover i {
  color: #333333;
}

@media (min-width: 1650px) {
  .kt-container {
    width: 1600px;
  }
}
@media (min-width: 1140px) {
  .kt-container {
    padding: 0 25px;
  }
}
.kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link {
  background-color: rgba(77, 89, 149, 0.06);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link {
  padding-left: 30px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item {
  margin: 0 1rem;
}

.btn-brand:not(:disabled):not(.disabled):active {
  background-color: #000 !important;
}

.nav-item .nav-link {
  background-color: #e7edf3;
  color: #122740 !important;
  font-weight: 600 !important;
}
.nav-item .nav-link .active {
  background-color: white;
}

.accordion {
  margin: 10px 0;
}
.accordion.accordion-toggle-svg .card .card-header .card-title {
  background-color: #f4f7fa;
}

/** PLUGINS **/
/*!
 * Jasny Bootstrap v3.1.3 (http://jasny.github.io/bootstrap)
 * Copyright 2012-2014 Arnold Daniels
 * Licensed under Apache-2.0 (https://github.com/jasny/bootstrap/blob/master/LICENSE)
 */
.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr;
}

.fileinput {
  display: inline-block;
  margin-bottom: 9px;
  width: 100%;
}

.fileinput .form-control {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.fileinput .thumbnail > img {
  max-height: 100%;
}

.fileinput .btn {
  vertical-align: middle;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}

.fileinput-inline .fileinput-controls {
  display: inline;
}

.fileinput-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.form-control .fileinput-filename {
  vertical-align: bottom;
}

.fileinput.input-group {
  display: table;
}

.fileinput.input-group > * {
  position: relative;
  z-index: 2;
}

.fileinput.input-group > .btn-file {
  z-index: 1;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}

.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}

.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}

.form-group.has-warning .fileinput .fileinput-preview {
  color: #8a6d3b;
}

.form-group.has-warning .fileinput .thumbnail {
  border-color: #faebcc;
}

.form-group.has-error .fileinput .fileinput-preview {
  color: #a94442;
}

.form-group.has-error .fileinput .thumbnail {
  border-color: #ebccd1;
}

.form-group.has-success .fileinput .fileinput-preview {
  color: #3c763d;
}

.form-group.has-success .fileinput .thumbnail {
  border-color: #d6e9c6;
}

.input-group-addon:not(:first-child) {
  border-left: 0;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1139.98px) {
  .fileinput .input-group-append {
    width: 100% !important;
    margin-top: 1rem;
  }
  .fileinput .input-group-append > .btn-group {
    width: 100% !important;
  }
}
.datepicker tbody tr .day.active, .datepicker tbody tr .day.today, .datepicker tbody tr .month.active, .datepicker tbody tr .month.focused, .datepicker tbody tr .year.focused, .datepicker tbody tr .year.active, .datepicker tbody tr .minute.active, .datepicker tbody tr .hour.active, .datepicker tbody tr .second.active, .datetimepicker tbody tr .day.active, .datetimepicker tbody tr .day.today, .datetimepicker tbody tr .month.active, .datetimepicker tbody tr .month.focused, .datetimepicker tbody tr .year.focused, .datetimepicker tbody tr .year.active, .datetimepicker tbody tr .minute.active, .datetimepicker tbody tr .hour.active, .datetimepicker tbody tr .second.active, .timepicker tbody tr .day.active, .timepicker tbody tr .day.today, .timepicker tbody tr .month.active, .timepicker tbody tr .month.focused, .timepicker tbody tr .year.focused, .timepicker tbody tr .year.active, .timepicker tbody tr .minute.active, .timepicker tbody tr .hour.active, .timepicker tbody tr .second.active {
  background: #000 !important;
}
.datepicker tbody tr > td.day.selected:hover, .datepicker tbody tr .day.active:hover, .datepicker tbody tr td.month.selected:hover, .datepicker tbody tr td.month.active:hover, .datepicker tbody tr td.year.selected:hover, .datepicker tbody tr td.year.active:hover, .datetimepicker tbody tr > td.day.selected:hover, .datetimepicker tbody tr .day.active:hover, .datetimepicker tbody tr td.month.selected:hover, .datetimepicker tbody tr td.month.active:hover, .datetimepicker tbody tr td.year.selected:hover, .datetimepicker tbody tr td.year.active:hover, .timepicker tbody tr > td.day.selected:hover, .timepicker tbody tr .day.active:hover, .timepicker tbody tr td.month.selected:hover, .timepicker tbody tr td.month.active:hover, .timepicker tbody tr td.year.selected:hover, .timepicker tbody tr td.year.active:hover {
  background: black;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover, .datetimepicker table tr td.disabled, .datetimepicker table tr td.disabled:hover, .timepicker table tr td.disabled, .timepicker table tr td.disabled:hover {
  color: #777 !important;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #e7edf3;
  color: #000 !important;
}

:root {
  --brand: #000 ;
}
